/* Responsive styles */
@media screen and (max-width: 768px) {
  .result-table {
    margin-top: 10px; /* Adjust margin for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .result-table {
    margin-top: 5px; /* Further adjust margin for mobile devices */
  }
}

:root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  background-color: #ffffff2a;
  padding: 10px;
}

html {
  background-image: url('https://w.forfun.com/fetch/de/de15acfd670988be6fb60f440728d7ba.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-shadow: 3px 3px 4px rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
  border-radius: 5px;
}
a {
  font-weight: 500;
  color: #afafb4;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 20px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: rgb(0, 0, 0);
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-top: 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.85s;
}
button:hover {
  border-color: #ffdd01;
  border-radius: 10px;
  border-width: 3px;
  background-color: #001799;
  color: white
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

h2 {
  border-bottom: 5px solid rgba(255, 255, 255, 0.229);
  margin-top: 50px;
  text-shadow: 3px 3px 4px rgb(0, 0, 0);
}

button.del, button.check, button.update {
  padding: 0.3rem 0.6rem;
  margin: 0;
}

button.update {
  background-color: #f2e49448;
}

button.del {
  background-color: #f2a29448;
}




/* Navigaatiolista tyylittely */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

.navbar-title {
  text-align: center;
  color: white;
  display: block;
  width: 100%;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
}

li a:hover:not(.active) {
  background-color: #020067;
}

.active {
  background-color: black;
}

.logout {
  float: right
}

/* User login  */
.user {
  display: block;
  text-align: center;
  font-family: sans-serif;
  padding: 16px 16px;
  font-size: 30px;
  text-shadow: 3px 4px 6px rgb(0, 0, 0)
  
}
#name {
  font-weight: bolder;
}

/* Table */
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #0000007e;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: #ffffff96;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #000000;
}

.styled-table tbody tr:hover {
  background-color: #68535358;
  cursor: pointer;
}
.forms {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Korjattu: käytä min-heightia */
}

/* Formin tyylittely */
form {
  background-color: #0000006c;
  color: #ffffff;
  padding: 30px;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  width: 300px;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Input kenttien tyylittely */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* Koodiesimerkin tyylittely */
pre {
  background-color: aliceblue;
}

#loginResponse, #meResponse {
  font-family: 'Courier New', Courier, monospace;
  font-size: smaller;
  display: block;
  width: 100%;
  word-break:break-all;
}

@media screen and (max-width: 800px) {
  .forms {
    flex-direction: column;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#hidden {
  display: none;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #00000092;
}

.result-body {
  background-color: #0000007b; /* Tumma tausta */
  color: #fff; /* Valkoinen teksti */
}

.result-body tr:hover {
  background-color: #00000084; /* Vaaleampi tausta, kun kohdistin on päällä */
}

#snackbar-target {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}
#snackbar-target.show {
visibility: visible;
-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.hidden {
  display: none;
}

th {
  text-align: center;
}

/*Add workout container styles */
.container {
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

/* Label styles */
label {
  margin-bottom: 8px;
}

/* Input and select styles */
input[type="number"],
textarea,
select {
  margin-bottom: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* Submit button styles */
button[type="submit"] {
  padding: 12px 20px;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.548);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.85s;
}

button[type="submit"]:hover {
  background-color: #0018a0;
  color: white;
  border-radius: 10px;
  border-width: 3px;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .container {
    width: 10%;
    margin: 0 auto;
  }
}

button.get_entries {
  margin-right: 10px; /* Add margin to the bottom of the first button */
}

button.toggle_list {
  margin-left: 10px; /* Add margin to the top of the second button */
}
